services:
  backend:
    build: .
    container_name: royal_hogs_backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: abishek
      POSTGRES_DB: royal_hogs
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    restart: always
    ports:
      - "6380:6379"